#month {
  color: white;
  font-size: large;
  background-color: rgb(65, 126, 111);
}

.calendar-div {
    width: 60%;
    position: relative;
    height : 350px;
}

table {
    table-layout: fixed;
    width: 60%;
  }

th {
    background: rgb(95,170,152);
    outline: 1px solid white;
    color: white;
    font-size: 12px;
}

tr {
  height: 40px
}

td{
  vertical-align: top;
  padding-left: 10px;
  background-color: rgba(210, 241, 234, .7);
  outline: 1px solid white;
}
#calendar-overlay{
  text-align: left;
  color: gray;
  font-size: 12px;
  vertical-align: top;
  z-index:-1; 
  width: 100%; 
  position: absolute; 
  top: 0; 
  left: 10px
}

#calendar {
  text-align: center;
  z-index:0; 
  width: 100%; 
  position: absolute; 
  top: 0; 
  left: 10px;
  vertical-align: center;
}
