<!DOCTYPE html>
<html>

<head>
  <title>OverSubscribed</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

  <h1 class="display-1">Todoist Time Estimation</h1>
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <form id="tasks" action="/time" method="POST">
          {%for item in data%}
          {% if item.is_deleted != 1 and item.checked != 1 and item.due != None%}
          <div class="row" style="margin: auto">
            <input class="form-control form-control-sm col-md-1 item_input" type="text" id={{item.id}} name={{item.id}}
              value={{times[item.id]}}>
            <label for={{item.id}}>...{{item.content}}</label>
          </div>
          {% endif %}
          {% endfor %}
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
      <div class="col">
        <div id="graph">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col calendar-div">
        <table id = "calendar-overlay">
          <tr>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
            <th>Saturday</th>
            <th>Sunday</th>
          </tr>
        </table>
        <table id = "calendar">
          <tr>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
            <th>Saturday</th>
            <th>Sunday</th>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <script>
    function get_data() {
      var input_elements = document.getElementsByClassName("item_input");
      console.log(input_elements)
      data = []
      for (element of input_elements) {
        data.push({ activity: $('label[for="' + element.id + '"]').html(), time: element.value })
      }
      return data
    }
    </script>
    <script>
    // set the dimensions and margins of the graph
    var margin = { top: 10, right: 40, bottom: 100, left: 30 },
      width = 450 - margin.left - margin.right,
      height = 400 - margin.top - margin.bottom;

    // append the svg object to the body of the page
    var svG = d3.select("#graph")
      .append("svg")
      .attr("width", width + margin.left + margin.right)
      .attr("height", height + margin.top + margin.bottom)
      .append("g")
      .attr("transform",
        "translate(" + margin.left + "," + margin.top + ")");

    // Create data
    var data = get_data()

    // X axis
    var x = d3.scaleBand()
      .range([0, width])
      .domain(data.map(function (d) { return d.activity; }))
      .padding(0.2);
    svG.append("g")
      .attr("transform", "translate(0," + height + ")")
      .call(d3.axisBottom(x))
      .selectAll("text")
      .attr("transform", "translate(-10,0)rotate(-45)")
      .style("text-anchor", "end");

    // Y scale and Axis
    var y = d3.scaleLinear()
      .domain([0, 40])
      .range([height, 0]);
    svG.append("g")
      .call(d3.axisLeft(y));

    // Add 3 dots for 0, 50 and 100%
    svG
      .selectAll("bars")
      .data(data)
      .enter()
      .append("rect")
      .attr("x", function (d) { return x(d.activity) })
      .attr("y", function (d) { return y(d.time) })
      .attr("width", x.bandwidth())
      .attr("height", function (d) { return height - y(d.time); })
      .attr("fill", "#69b3a2")


  </script>

  <script>
    function create_cal(div_id){
    var table = document.getElementById(div_id);

    var date = new Date(), y = date.getFullYear(), m = date.getMonth();
    var firstDay = new Date(y, m, 1);
    var lastDay = new Date(y, m + 1, 0);

    var start_weekday = firstDay.getDay()
    var i = -start_weekday+2
    var offset = 8-start_weekday

    var row = table.insertRow()
    while (i<=lastDay.getDate()) {
      var cell = row.insertCell();
      if (i > 0){
        cell.innerHTML = i
      }
      if ((i-offset)%7 == 0){
        var row = table.insertRow()
      }
      i++;
    }
    console.log(firstDay.getDay())
    console.log(firstDay.getDate())
    }
    create_cal("calendar-overlay")
    create_cal("calendar")
  </script>

  <script>
    
  </script>
</body>

<script>

</script>

</html>